<%- include('header'); -%>

  <h1>Members Only Club</h1>
  <p>Welcome to the clubhouse</p>
  <p><a href="/sign-up">Create account</a></p>
  <p><a href="/join">Join the Club</a></p>

  <% if(currentUser) { %>
    <h2>Welcome back <%= currentUser.firstName %></h2>
    <button> <a href="/log-out"> Log Out</a></button>
    <p><a href="/message">Create Message</a></p>
  <% } else { %>
    <h2>login</h2>
    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
      <input type="submit">
    </form>
  <% } %>

  <h2>Messages</h2>
  <% if(currentUser) { %>
    <% if(currentUser.membershipStatus) { %>
      <% messages.forEach(message => { %>
        <li>
          <h3><%= message.title %></h3>
          <p><%= message.message %></p>
          <p><%= message.user.fullName %></p>
          <p><%= message.date %></p>
        </li>
      <% }) %>
    <% }else { %>
      <% messages.forEach(message => { %>
        <li>
          <h3><%= message.title %></h3>
          <p><%= message.message %></p>
        </li>
      <% }) %>
    <% } %>
  <% } else { %>
    <% messages.forEach(message => { %>
      <li>
        <h3><%= message.title %></h3>
        <p><%= message.message %></p>
      </li>
    <% }) %>
  <% } %>
  
  <%- include('footer'); -%>